$menu-color: #c11;
$menu-accent-color: #811;

body {
  background: black url(http://www.fractiongamers.com/forum/Themes/chemical/images/theme/background.jpg) scroll no-repeat 50% 79px;
  background-size: 100%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, a:visited {
  text-decoration: none;

  &:hover {
    text-shadow: 0px 0px 1px lighten($menu-accent-color, 20%);
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
