body {
  background: black url(www.fractiongamers.com/forum/Themes/chemical/images/theme/background.jpg) scroll no-repeat 50% 79px;
  background-soze: 100%;
  padding: 0px;
  margin: 0px;
  color: #eee;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, a:visited {
  color: #444;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
