$menu-accent-color: #e11;

#page-header {
  position: relative;
  background: #111;
  border-bottom: 1px solid #811;
  margin-bottom: 10px;
  color: #eee;
  z-index: 100;
}

#logo {
  display: inline-block;
  margin: 20px;
  color: #eee;

  &:hover {
    color: #fff;
  }

  h1 {
    display: inline-block;
  }
}

#user-dashboard {
  background: $menu-accent-color; /* Old browsers */
  background: -moz-linear-gradient(top, $menu-accent-color 0%, darken($menu-accent-color, 10%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$menu-accent-color), color-stop(100%,darken($menu-accent-color, 10%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $menu-accent-color 0%,darken($menu-accent-color, 10%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $menu-accent-color 0%,darken($menu-accent-color, 10%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $menu-accent-color 0%,darken($menu-accent-color, 10%) 100%); /* IE10+ */
  background: linear-gradient(to bottom, $menu-accent-color 0%,darken($menu-accent-color, 10%) 100%); /* W3C */
  height: 30px;

  .separator, .user-dashboard-tab {
    display: inline-block;
    margin-right: -3px;
    vertical-align: top;
  }

  .separator {

    background: $menu-accent-color; /* Old browsers */
    background: -moz-linear-gradient(top, $menu-accent-color 0%, darken($menu-accent-color, 30%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$menu-accent-color), color-stop(100%,darken($menu-accent-color, 30%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $menu-accent-color 0%,darken($menu-accent-color,30%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $menu-accent-color 0%,darken($menu-accent-color, 30%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $menu-accent-color 0%,darken($menu-accent-color, 30%) 100%); /* IE10+ */
    background: linear-gradient(to bottom, $menu-accent-color 0%,darken($menu-accent-color, 30%) 100%); /* W3C */

    width: 1px;
    height: 30px;
  }
}

#user-dashboard-greeting {
  padding: 4px 10px 0px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #833;
  float: right;
}

#user-settings-link {
  color: #eee;

  &:hover {
    color: #fff;
  }
}

a.user-dashboard-tab {
  padding: 7px 10px 5px;
  color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 1px #833;

  &:hover {
    color: #fff;
    background: $menu-accent-color;
  }
}

.page-header {
  padding: 5px 10px;
  border-bottom: 1px solid #cdcdcd;
}

#main {
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px #811;
}

#main-content {
  padding: 10px;
}
