a:hover {
  text-decoration: none;
}

#page-header {
  position: relative;
  background: #1F0808;
  border-bottom: 1px solid $menu-accent-color;
  margin-bottom: 10px;
  color: #eee;
  z-index: 100;
}

#logo {
  display: inline-block;
  margin: 20px;

  h1 {
    display: inline-block;
    color: #eee;
  }
}

#user-dashboard {
  margin: 0px;

  .divider-vertical {
    margin: 0px;
  }
}

#user-dashboard-greeting {
  padding: 4px 10px 0px;
  font-weight: bold;
  text-shadow: 1px 1px 1px $menu-accent-color;
  float: right;
}

#user-settings-link {
  color: #eee;

  &:hover {
    color: #fff;
  }
}

a.user-dashboard-tab {

  &:active {
    background: #8c221a;
  }
}

.page-header {
  padding: 5px 10px;
  border-bottom: 1px solid #cdcdcd;
}

#main {
  background: rgba(0,0,0,0.7);
  max-width: 1080px;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0px 0px 15px #993636;
}

#main-content {
  padding: 10px;
}
